<h1>{{title}}</h1>
<div class="background-container">
<div clas="container">
<img src="assets/image.png" alt="Image" class="styled-image">
<div class="button-container">
  <button (click)=viewStudent() >View Student Info</button>&nbsp;&nbsp;
  <button (click)=addStudent() >Add Student Info</button>&nbsp;&nbsp;
  <button (click)=updateStudent()>Update Student Info</button>&nbsp;&nbsp;
  <button (click)=deleteStudent()>Delete Student</button>&nbsp;&nbsp;
 
 


  <router-outlet></router-outlet>
</div>
</div>
</div>
