<h1>Student Details</h1>
<div class="table-container">
  <input type="text" class="form-control" id="search"  placeholder="Search for students...Enter Id or Name" [(ngModel)]="searchQuery">
  <button class="btn btn-primary" type="button" (click)="searchStudents()">Search</button>
<table border="1" >
    <tr> 
      <th>Serial Number</th>
      <th>RollNo</th>
      <th>Name</th>
      <th>Email</th>
      <th>Age</th>
      <th>Gender</th>
      <th>DOB</th>
    </tr>
    <tr *ngFor="let student of filteredStudentData; let i = index">
      <td>{{i + 1}}</td>
      <td>{{student.rollNo}}</td>
      <td>{{student.name}}</td>
      <td>{{student.email}}</td>
      <td>{{student.age}}</td>
      <td>{{student.isMale ? "Male" : "Female"}}</td>
      <td>{{student.date}}</td>
    </tr>
  </table>
</div>